body {
    background-color: #E7CEF4;
}

.title{
    text-align: center;
    color: #753698;
    font-family: Arial, sans-serif;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.columns-on-page {
    display: flex;
    gap: 25px;
}

.column{
    border-radius: 10px;
    background-color: #65218A;
    width: 290px;
}

.title-column{
    text-align: center;
    color: white;
}

.addForm {
    background-color: #B17BD1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
}

.column:hover, .addForm:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.btn-create-card {
    width: 120px;
    height: 50px;
    background-color: #E7CEF4;
    color: #65218A;
    border: #65218A solid 2px;
    border-radius: 3px;
}

.btn-create-card:hover {
    background-color: #F0DCFA;
}

.add_btn {
    margin: 20px 75px;
}

.card {
    background-color: #E7CEF4;
    border-radius: 5px;
    border: #A569CC solid 3px;
    margin: 10px 15px;
}

.card h3{
    text-align: center;
}

.line {
    background-color: #A569CC;
    height: 3px;
    width: 100%;
}

.btn {
    width: 130px;
    background-color: #F9D0E6;
    border: #A24477 solid 3px;
}

.btn:hover {
    background-color: #A24477;
    color: white;
    border: #691644 solid 3px;
}

.card-btn {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.completed {
    color: #4B186A;
    font-weight: bold;
    text-align: center;
}

.edit_btn {
    margin: 20px 60px;
}